<a href="https://colab.research.google.com/github/hyoje099/16-1Self-directed-education-curriculum-group-according-to-class-flexibility/blob/main/%EC%A4%91%EA%B0%84%EB%8C%80%EB%B9%84_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%B4%9D%EC%A0%95%EB%A6%AC%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
print("안녕하세요")
print('안녕하세요')
print('"안녕하세요"라고 말했습니다')
print("'배가 고픕니다'라고 생각했습니다")

안녕하세요
안녕하세요
"안녕하세요"라고 말했습니다
'배가 고픕니다'라고 생각했습니다

In [ ]:
# 2
print(""안녕하세요"라고 말했습니다")

SyntaxError: ignored

In [ ]:
# 3
print("\"안녕하세요\"라고 말했습니다")
print('\'배가 고픕니다\'라고 생각했습니다')

In [ ]:
# 4
print('학교\t 학년\t 번호')
print('성신고\t 1학년\t 23번')
print('약사고\t 1학년\t 11번')
print('울산고\t 2학년\t 7번')

In [ ]:
# 5
print("""
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리 나라 만세
무궁화 삼천리 화려 강산
대한사람 대한으로 길이 보전하세
""")

In [ ]:
# 6
print("I'm fine")
print('I\'m fine')

In [ ]:
# 7
print("안녕"+"하세요")
print("잘생김 "*3)

In [ ]:
# 8
print("안녕"+1)

In [ ]:
# 9
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

In [ ]:
# 10
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])
print("안녕하세요"[-5])

In [ ]:
# 11
print("안녕하세요"[0:2])
print("안녕하세요"[1:3])
print("안녕하세요"[2:4])
print("안녕하세요"[1:])
print("안녕하세요"[:3])
print("안녕하세요"[:])

안녕
녕하
하세
녕하세요
안녕하
안녕하세요

In [ ]:
# 12
print("안녕하세요"[5])

IndexError: ignored

In [ ]:
# 13
print("대한민국만세"[5])
print("대한민국만세"[-1])

세
세

In [ ]:
# 14
print(len("안녕하세요"))
print(type("안녕하세요"))

5
<class 'str'>

In [ ]:
# 15
print(123)
print(type(123))
print(3.14)
print(type(3.14))

123
<class 'int'>
3.14
<class 'float'>

In [ ]:
# 16
print(2)
print(type(2))
print(2.0)
print(type(2.0))
print('2')
print(type('2'))

2
<class 'int'>
2.0
<class 'float'>
2
<class 'str'>

In [ ]:
# 17
print("2 + 3 =", 2+3)
print("2 - 3 =", 2-3)
print("2 * 3 =", 2*3)
print("2 / 3 =", 2/3)

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666

In [ ]:
# 18
print((2+3)/4*2)

2.5

In [ ]:
# 19
print("7 // 3 =", 7//3)
print("7 % 3 =", 7%3)
print("3 ** 2 =", 3**2)
print("2 ** 3 =", 2**3)

7 // 3 = 2
7 % 3 = 1
3 ** 2 = 9
2 ** 3 = 8

In [ ]:
# 20
print(5 + 3 * 2)
print(2 + 2 - 2 * 2 / 2 * 2)
print(2 - 2 + 2 / 2 * 2 + 2)

11
0.0
4.0

In [ ]:
# 21
print("원의 둘레:",5*2*3.14)
print("원의 넓이:",5*5*3.14)
print("구의 겉넓이:",4*3.14*5**2)
print("구의 부피:",(4/3)*3.14*5**3)

원의 둘레: 31.400000000000002
원의 넓이: 78.5
구의 겉넓이: 314.0
구의 부피: 523.3333333333334

In [ ]:
# 22
pi = 3.14
r = 5
print("원의 둘레:",r*2*pi)
print("원의 넓이:",r*r*pi)
print("구의 겉넓이:",4*pi*r**2)
print("구의 부피:",(4/3)*pi*r**3)

원의 둘레: 31.400000000000002
원의 넓이: 78.5
구의 겉넓이: 314.0
구의 부피: 523.3333333333334

In [ ]:
# 23
age = input("나이를 입력하세요: ")
print("당신나이는",age)

나이를 입력하세요: 8
당신나이는 8

In [ ]:
 # 24
age = input("나이를 입력하세요: ")
print("10년 후 당신나이는",age+10)

KeyboardInterrupt: ignored

In [ ]:
# 25
age = '16'
n = int(age)
m = float(age)

print(type(age), type(n), type(m))

In [ ]:
# 26
age = input("나이를 입력하세요: ")
print("10년 후 당신나이는",int(age)+10)

In [ ]:
# 27
kor = 90
eng = 80
mat = 85
print("세과목 평균은",(kor+eng+mat)/3)

In [ ]:
# 28
g = input("학년을 입력하세요: ")
c = input("반을 입력하세요: ")
n = input("번호 두자리를 입력하세요: ")

print("당신의 학번은",g+"0"+c+n)

In [ ]:
# 29
x = input("정수 입력: ")

print(int(x))

In [ ]:
# 30
x = input("실수 입력: ")

print(int(x))

In [ ]:
# 31
x = input("문자 입력: ")

print(int(x))

In [ ]:
# 32
num = 123
s_num = str(num)

print(num, s_num)
print(type(num), type(s_num))
print(len(s_num))

In [ ]:
# 33
words = 'Korea Team Cheer up'
print(words.upper())
print(words.lower())

In [ ]:
# 34
print('안녕' in '안녕하세요')
print('잘자' in '안녕하세요')
print('2' in '02468')

In [ ]:
# 35
data = input("정수를 입력하세요: ")
print("당신이 입력한 정수는",len(data),"자리수입니다.")

In [ ]:
# 36
data1 = input("첫번째 정수 입력: ")
data2 = input("두번째 정수 입력: ")
data3 = int(data1)+int(data2)
print("두 정수의 합은",data3)
print("data1의 자료형은",type(data1),"data3의 자료형은",type(data3))

In [ ]:
# 37

a = 5

print(a >= 6) # a가 6보다 크거나 같다
print(a < 6)  # a가 6보다 작다
print(a == 6) # a가 6과 같다
print(a != 6) # a가 6과 다르다
print(a == 5) # a가 5와 같다

In [ ]:
# 38
su = input('정수 입력: ')
su = int(su)

if su > 0:
  print('양수입니다')

In [ ]:
# 39
su = input('정수 입력: ')
su = int(su)

if su == 7:
  print('축하합니다')
  print('당첨입니다')

In [ ]:
# 40
k = input('점수 입력: ')
k = int(k)

if k >= 90:
  print('A 입니다')
else:
  print('A가 아닙니다')

In [ ]:
# 41
value = input('정수입력: ')

if value[-1] in "02468":
  print('짝수입니다')
else:
  print('홀수입니다')

In [ ]:
# 42
x = input("정수입력: ")
x = int(x)

if x > 0:
  print('양수')
elif x < 0:
  print('음수')
else:
  print('양수도 음수도 아님')

In [ ]:
# 43
score = input('점수 입력(0~100): ')
score = int(score)

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
else:
  print('D')

In [ ]:
# 44
score = input('점수 입력(0~100): ')
score = int(score)

if score >= 90:
  print('A')
if score >= 80:
  print('B')
if score >= 70:
  print('C')
else:
  print('D')

In [ ]:
# 45-1
m = input('월 입력(1~12): ')
m = int(m)
if 3 <= m <= 5:
  print('봄')
elif 6 <= m <= 8:
  print('여름')
elif 9 <= m <= 11:
  print('가을')
else:
  print('겨울')

In [ ]:
# 45-2
m = input('월 입력(1~12): ')
m = int(m)
if 3 <= m <= 5:
  print('봄')
if 6 <= m <= 8:
  print('여름')
if 9 <= m <= 11:
  print('가을')
else:
  print('겨울')

In [ ]:
# 46
data = input('자연수 입력: ')
data = int(data)

if data % 3 == 0:
  print('3의 배수')
else:
  print('3의 배수 아님')

In [ ]:
# 47
n = input("정수 입력: ")
new = int(n)

if new % 6 == 0:
  print("6의 배수")
elif new % 3 == 0:
  print("3의 배수")
elif new % 2 == 0:
  print("2의 배수")
else:
  print("2 또는 3 배수 아님")
print(len(n),"자리수")

In [ ]:
# 48
food = ['짜장면','짬뽕','탕수육','우동']

print(food)
print(food[0])
print(food[2])

In [ ]:
# 49
etc = [1004, 3.14, 'hello', True, False]
print(etc[3],etc[4])
print(etc[3:])
print(etc[-1])
print(etc[2][0])

In [ ]:
# 50
darray = [[1,2,3],[4,5,6],[7,8,9]]

print(darray[1])
print(darray[1][1])
print(darray[0][2])

In [ ]:
# 51
list_a = [1,2,3,4]
list_b = [4,5,6,7]

print(list_a+list_b)
print(list_a*3)
print(len(list_a))

In [ ]:
# 52
list_c = [1,2,3]

print('== 추가전 리스트 ==')
print(list_c)

list_c.append(4)
list_c.append(5)

print('== 추가후 리스트 ==')
print(list_c)

In [ ]:
# 53
list_d = [1,2,3]

print('== 추가전 리스트 ==')
print(list_d)

# 리스트명.insert(위치, 넣을 값)

list_d.insert(1,100)


print('== 추가후 리스트 ==')
print(list_d)

In [ ]:
# 54
list_e = [1,2,3,4,5]
print(list_e)

del list_e[1]
print(list_e)

In [ ]:
# 55
list_f = [6,7,8,9,10]
print(list_f)

k = list_f.pop()
print(list_f)

print(k)

In [ ]:
# 56
list_g = [6,7,8,9,10]
print(list_g)

list_g.remove(9)
print(list_g)

In [ ]:
# 57
list_h = [6,7,8,9,10]
print(list_h)

list_h.clear()
print(list_h)

In [ ]:
# 58
print(100 in [100,101,102])
print(103 in [100,101,102])
print(103 not in [100,101,102])

In [ ]:
# 59
print(1)
print(2)
print(3)
print(4)
print(5)

In [ ]:
# 60
list_number = [1,2,3,4,5]

for i in list_number:
  print(i)

In [ ]:
# 61
for i in range(1,6):
  print(i)

In [ ]:
# 62
a = 1

while a <= 5:
  print(a)
  a = a + 1

In [ ]:
# 63
a = 1

while a <= 100:
  print(a)
  a = a + 2